* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none !important;
}
.header {
  height: 750px;
  background-image: url("../img/welcome-banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-link:hover {
  color: #d92cf9;
  opacity: 1;
}
.contact {
  background-color: #f9fafe;
  color: #656b8f;
}
.contact .footer-left .btn-submit {
  border-radius: 0;
  background-color: #b636ff;
  border: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  height: 50px;
  transition: 0.5s;
}
.contact .footer-left .btn-submit:hover {
  background-color: #9f00ff;
}

.contact .footer-right .contact-icon {
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.3rem;
}
.contact .footer-right .contact-icon:hover {
  color: #9f00ff !important;
}
.contact .contactMe {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 20px;
}
.context-part {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: grey;
}

.context-part div {
  width: 470px;
  height: 220px;
}

.context-part .icon {
  width: 2px;
  height: 2px;
  color: #e982fb;
  font-size: 8px;
}
.about_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about_text p {
  font-family: "Poppins", sans-serif;
  line-height: 2pxm;
  text-align: left;
}
.about_com h5 {
  font-size: medium;
  font-size: 16px;
  color: #3c4258;
}
.about_com p {
  font-size: 18px;
  color: #afb3c3;
}
.about_img {
  background-image: url("../img/profile_image.jpg");
  background-repeat: no-repeat;
  max-width: 500px;
  height: 468px;
  padding: 0;
  text-align: right;
}
.about_icons {
  background-color: #1f2c6c;
  width: 100%;
  margin: 0;
  height: 70px;
}
.about_icons a {
  color: #fff;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.about_icons a:hover {
  background-color: hsla(230, 52%, 39%, 0.953);
}
.education p {
  width: 80%;
  margin-bottom: 15%;
}
.education div .renk {
  height: 2rem;
}
.education div .renk .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d92cf9;
}
.education div .renk .cizgi {
  border: black;
  height: 1px;
  width: 100%;
}
.education div .renk i {
  margin: 4.2% 0 0 0;
}
.education h2 {
  margin-top: 1rem;
}
